@import 'index.css'; 


.page-description{
	background-image: url(../images/aboutus.jpg);
}

.page-description-title{
	color: #fff;
	padding-top: 6em;
}

/* about-info */

.about-info{
	background-color: #f5f5f5;
	padding-top: 2.5em;
	padding-bottom: .25em;
}

.about-info-content{
	margin-bottom: 0;

}

.about-info-main{
	/*border: 1px solid #000;*/
	border-radius: 2px;
	box-shadow: 0px 5px 10px #888888;
	padding: .5em 2em;
	margin: auto;
}

.about-info-main h2{
	text-align: center;
}

.mission-title{
	font-weight: 700;
	text-align: center;
	padding: 0;

}

.mission-body{
	text-align: justify;
}

.about-info-mission{
	margin-bottom: 3em;
}

.values-detail{
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.values-detail-actual{
	display: flex;
	margin-bottom: 1em;
	/*border: 1px solid #000;*/
}

.values-detail-span{
	border: 2px solid #1792d2;
	border-radius: 50%;
	padding: .4em .9em .4em .9em;
	
}

.special{
	padding: .4em 1em .4em 1em;
}

.values-text{
	padding: .5em 0 0 1em;
}

@media (min-width: 720px){

	.about-info-mission{
		width: 35%;
	}

	.about-info-values{
		width: 35%
	}

	.mission-title,
	.values-title{
		text-align: left;
	}

	.mission-body{
		text-align: left;
	}

	.values-detail{
		margin: 0;
	}

	.about-info-main{
		padding: .5em 2em;
	}
}


/* team section */

.about-team{
	background: #fff;
	padding: 1em 0;
}

/*.team-header{
	padding: 1em 0;
}*/



.team-title{
	font-weight: 700;
	text-align: center;
}

.team-body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.team-thumbnail{
	text-align: center;
}

.team-thumbnail-image{
	margin-bottom: 1em;
	
}

.team-thumbnail-title{
	margin: 0;
}

.team-thumbnail-role{
	margin-top: 0;
	margin-bottom: 2em;
}

@media (min-width: 720px){
	.team-body{
		flex-direction: row;
		justify-content: space-between;
	}

	.team-thumbnail-image{
		width: 14em;
		height: 300px;
		object-fit: cover;
	}


	.team-title{
		text-align: left;
	}

	.team-thumbnail{
		text-align: left;
	}
}